{:linters {:unresolved-symbol {:exclude [(clojure.test/is [valid?
                                                           invalid?
                                                           comparable?
                                                           url-like?
                                                           not-url-like?])
                                         (cljs.test/is [comparable?])]}}}
