{:linters {:unresolved-symbol {:exclude [(clojure.test/is [valid?
                                                           invalid?
                                                           comparable?])]}}}
