name: Clojure CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          lein: 2.12.0
      - name: Install dependencies
        run: lein deps
      - name: Run clj tests
        run: lein cloverage
      - name: Install Karma CLI
        run: npm install -g karma-cli
      - name: Install other packages
        run: npm install
      - name: Run cljs tests
        run: lein doo once
